<header>
	<h1 class="moment-in-time">moment in time</h1>
	<%= form_tag moments_path, class: "find-moments-form", method: :get do %>
	  <%= text_field_tag :time, nil, placeholder: 'eg. Two weeks ago' %>
	  <%= text_field_tag :location, nil, placeholder: 'eg. Bondi Beach' %>
	  <%= submit_tag 'Find moments', class: "find-btn" %>
	<% end %>
</header>
<section class="moments">
	<% rows.each do |row| %>
		<div class="row">
			<% row.each do |moment| %>
				<div style="<%= random_page_position %>" class="img-container <%= random_floating_image_class %>">
				  <% if moment[:source] == "instagram" %>

				  	<%= raw(moment[:oembed]["html"]) %>
				  	
				  <% elsif moment[:source] == "twitter" %>
				
					<%= raw(moment[:oembed][:html]) %>

				  <% end %>
				</div>
			<% end %>
		</div>
	<% end %>
</section>
